@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*#2D3843*/

.inputField {
  margin-top:15px;
  width: 320px;
  border-style: solid;
  font-size: 0.875rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border-radius: 8px;
  padding: 12px 12px;
  background-color: #1A2027;
  color:white;
}

.inputField:hover{
    background-color: #2D3843;
}

.inputButton{
  margin-top:10px;
  margin-bottom:5px;
}
