.container{
    display:flex;
    justify-content: space-between;
    padding:20px;
    background-color:grey;
    margin-top:5px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.19);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.19);
}

.icons{
    font-size:1.5em;
}